@import 'variables'; 

body.light {
  background-color: lighten($ws-base-color, 35%);
  color: #212529;

  .ws-panel {
    background-color: white;
  }

  .btn-wordshop-tab {
    color: lighten(#212529, 40%);
    background-color: lighten($ws-base-color, 30%);
    border: none;
    border-radius: $ws-default-radius-btn;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    &:hover {
      color: darken(#212529, 10%);
      background-color: white;
    }
    &.active {
      color: darken(#212529, 10%);
      background-color: white;
    }
  }

  .ws-username-is-invalid {
    color: #dc3545!important;
    border-color: #dc3545!important;
  }

  .input-group-text {
    &.is-valid {
      color: #28a745;
      border-color: #28a745;
      background-color: lighten(#28a745, 30%);
    }
    &.is-invalid {
      color: #dc3545;
      border-color: #dc3545;
      background-color: lighten(#dc3545, 25%);
    }
  }

  .footer {
    a {
      color: lighten($ws-text-color, 50%);
      &:hover {
        color: lighten($ws-text-color, 60%);
      }
    }
    background-color: darken($ws-base-color, 35%);
  }

  .ws-wordicon-container {
    svg {
      filter: drop-shadow(0 1px 0 lighten($ws-base-color, 15%));
    }
  }

  .step-link {
    color: $ws-base-color;
    &:hover {
      color: lighten($ws-base-color, 30%);
    }
    &.disable {
      color: lighten($ws-base-color, 10%);
      &:hover {
        color: lighten($ws-base-color, 10%);
      }
    }
  }

  a, .btn-link, .step-link.active {
    color: darken($ws-base-color, 35%);
    &:hover {
      color: darken($ws-base-color, 10%);
    }
  }
}