@import 'variables'; 

body.light {
  background-color: lighten($ws-base-color, 35%);
  color: #212529;

  .ws-panel {
    background-color: white;
  }

  .btn-wordshop-tab {
    color: lighten(#212529, 40%);
    background-color: lighten($ws-base-color, 30%);
    border: none;
    border-radius: $ws-default-radius-btn;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    &:hover {
      color: darken(#212529, 10%);
      background-color: white;
    }
    &.active {
      color: darken(#212529, 10%);
      background-color: white;
    }
  }

  .footer {
    a {
      color: lighten($ws-text-color, 50%);
      &:hover {
        color: lighten($ws-text-color, 60%);
      }
    }
    background-color: darken($ws-base-color, 35%);
  }

  a {
    color: darken($ws-base-color, 35%);
    &:hover {
      color: darken($ws-base-color, 10%);
    }
  }
}