@import 'variables';

body.dark {
  background-color: darken($ws-base-color, 25%);
  color: lighten($ws-base-color, 30%);

  hr {
    border-top: 1px solid darken($ws-base-color, 20%);
  }

  input, trix-editor {
    background-color: darken($ws-base-color, 35%);
  }

  input, trix-editor {
    border: 1px solid darken($ws-base-color, 20%);
    color: lighten($ws-base-color, 30%);
    &:active, &:focus {
      color: lighten($ws-base-color, 30%);
      background-color: darken($ws-base-color, 35%);
    }
    &:disabled {
      color: $ws-base-color;
      background-color: darken($ws-base-color, 35%);
    }
    &:empty:not(:focus)::before {
      color: $ws-base-color;
    }
  }

  pre {
    color: lighten($ws-base-color, 30%);
  }

  .btn-wordshop-tab {
    color: lighten($ws-base-color, 0%);
    background-color: darken($ws-base-color, 22%);
    border:none;
    border-radius: $ws-default-radius-btn;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    cursor: pointer;
    &:hover {
      color: lighten($ws-base-color, 40%);
      background-color: darken($ws-base-color, 30%);
    }
    &.active {
      color: lighten($ws-base-color, 40%);
      background-color: darken($ws-base-color, 30%);
    }
    &:focus, &.focus {
      outline: none!important;
      box-shadow: none!important;
    }
  }

  .footer {
    a {
      color: lighten($ws-text-color, 50%);
      &:hover {
        color: lighten($ws-text-color, 60%);
      }
    }
    background-color: darken($ws-base-color, 35%);
  }

  .ws-username-is-invalid {
    color: #dc3545!important;
    border-color: #dc3545!important;
  }

  .ws-editor {
    .word-counter {
      &.is-valid {
        color: #28a745!important;
      }
      &.is-invalid {
        color: #dc3545!important;
      }
    }
  }

  .input-group-text {
    color: lighten($ws-base-color, 30%);
    background-color: darken($ws-base-color, 25%);
    border: 1px solid darken($ws-base-color, 20%);
    &.is-valid {
      color: #28a745!important;
      border-color: #28a745!important;
      background-color: lighten(#28a745, 30%)!important;
    }
    &.is-invalid {
      color: #dc3545!important;
      border-color: #dc3545!important;
      background-color: lighten(#dc3545, 25%)!important;
    }
  }

  .input-group-append, .input-group-prepend {
    .input-group-text {
      color: $ws-base-color;
    }
  }

  .text-muted {
    color: $ws-base-color!important;
  }

  .ws-form, .ws-panel {
    background-color: darken($ws-base-color, 30%);
    border-bottom: 1px solid darken($ws-base-color, 40%);
    .ws-header {
      background-color: darken($ws-base-color, 35%);
    }
  }

  .ws-wordicon-container {
    svg {
      filter: drop-shadow(0 1px 0 darken($ws-base-color, 40%));
    }
  }

  a, .btn-link {
    color: lighten($ws-base-color, 30%);
    &:hover {
      color: lighten($ws-base-color, 50%);
    }
  }

  .ws-multi-select-list-container {
    .selected-list {
      li {
        background-color: darken($ws-base-color, 20%);
        &:hover {
          background-color: $ws-red;
        }
      }
    }
    .unselected-list {
      color: lighten($ws-base-color, 30%);
      border: 1px solid darken($ws-base-color, 20%);
      li {
        &:nth-child(even) {
          background-color: darken($ws-base-color, 35%);
        }
        &:hover {
          background-color: $ws-highlight-color;
        }
      }
    }
  }

  .ws-table {
    border: 1px solid darken($ws-base-color, 20%);
    tr {
      td {
        border: 1px solid darken($ws-base-color, 20%);
      }
    }
  }

  .ws-wizard-table {
    tr {
      cursor: pointer;
      &:nth-child(even) {
        background-color: darken($ws-base-color, 35%);
      }
      &:hover {
        background-color: $ws-highlight-color;
        td {
          color: white!important;
          border: 1px solid darken($ws-highlight-color, 5%);
        }
      }
    }
  }

  .btn-wordshop-subtle {
    color: #838c91!important;
    background-color: #4d5357;
    border-color: #4d5357;
    border-bottom: 1px solid #4d5357;
    border-radius: $ws-default-radius-btn;
    &:hover {
      color: white!important;
      background-color: lighten($ws-highlight-color, 5%);
      border-color: lighten($ws-highlight-color, 5%);
      border-bottom: 1px solid darken($ws-highlight-color, 10%);
    }
    &.active {
      color: white!important;
      border-color: darken($ws-highlight-color, 10%);
      background-color: darken($ws-highlight-color, 10%);
    }
    &.disabled {
      pointer-events: none;
    }
  }

  .btn-wordshop-subtle-gray {
    color: #838c91!important;
    background-color: #4d5357;
    border-color: #4d5357;
    border-bottom: 1px solid #4d5357;
    border-radius: $ws-default-radius-btn;
    &:hover {
      color: white!important;
      background-color: lighten($ws-base-color, 5%);
      border-color: lighten($ws-base-color, 5%);
      border-bottom: 1px solid darken($ws-base-color, 10%);
    }
    &.active {
      color: white!important;
      border-color: darken($ws-base-color, 10%);
      background-color: darken($ws-base-color, 10%);
    }
    &.disabled {
      pointer-events: none;
    }
  }

  .ws-project-list {
    li {
      cursor: pointer;
      border-radius: $ws-default-radius-btn;
      &:nth-child(even) {
        background-color: darken($ws-base-color, 35%);
        border: 1px solid transparent;
        border-bottom: 1px solid darken($ws-base-color, 45%);
      }
      &:nth-child(odd) {
        border: 1px solid darken($ws-base-color, 32%);
        border-bottom: 1px solid darken($ws-base-color, 40%);
      }
      &:hover, &:active {
        background-color: $ws-highlight-color;
        border: 1px solid transparent;
        border-bottom: 1px solid darken($ws-highlight-color, 10%);
      }
    }
  }
  
}


