$ws-base-color: rgb(131, 140, 145);;
$ws-base-darkened: darken($ws-base-color, 5%);
$ws-base-lightened: lighten($ws-base-color, 25%);

$ws-tablet-breakpoint: 768px;
$ws-phone-breakpoint: 576px;

$ws-header-height: 50px;

$ws-text-color: #292929;

$ws-form-width: 400px;
$ws-form-width-mobile: 345px;
$ws-form-width-max-mobile: 345px;
$ws-form-width-max: 400px;

$ws-default-padding: 8px;
$ws-default-radius: 0.40em;
$ws-default-radius-btn: 0.25em;

$ws-highlight-color: #23A24D;
$ws-red: #b72f28;

$ws-content-width: 740px;