$ws-base-color: #3a3634;
$ws-base-darkened: darken($ws-base-color, 5%);
$mfe-base-lightened: lighten($ws-base-color, 25%);

$ws-earth-blue: #06daf1;
$ws-earth-green: #07f2bb;

$ws-earth-blue-new: #06daf1;
$ws-earth-green-new: #07f2bb;

$ws-mobile-breakpoint: 768px;

$ws-header-height: 50px;

$ws-font-weight: 300;

$ws-text-color: #292929;