@import 'variables'; 

@import '../../node_modules/bootstrap/scss/bootstrap';
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: lighten($ws-base-color, 35%);
}

div, ul {
  -webkit-overflow-scrolling: touch;
}

a {
  color: darken($ws-base-color, 35%);
  &:hover {
    color: darken($ws-base-color, 10%);
  }
}

.moment-drop {
  border-radius: 0.75em;
  border: 2px dotted white;
  &.over {
    background-color: white!important;
  }
  .content {
    color: white!important;
  }
}

.ws-form {
  min-width: $ws-form-width;
  max-width: $ws-form-width-max;
  border-radius: $ws-default-radius;
  border: none;
  border-bottom: 2px solid lighten($ws-base-color, 15%);;
  .ws-header {
    border: none;
  }
}

.ws-panel {
  background-color: white;
  border-radius: $ws-default-radius;
  border-bottom: 2px solid $ws-base-color;
  padding: 24px;
}

.btn-wordshop {
  color: #fff;
  background-color: $ws-highlight-color;
  border-color: $ws-highlight-color;
  border-radius: $ws-default-radius-btn;
  border-bottom: 2px solid darken($ws-highlight-color, 10%);
  cursor: pointer;
  &:hover {
    background-color: lighten($ws-highlight-color, 5%);
    border-color: lighten($ws-highlight-color, 5%);
    border-bottom: 2px solid darken($ws-highlight-color, 10%);
  }
}

.clickable {
  cursor: pointer;
}

@media (max-width: $ws-mobile-breakpoint) {
  .ws-form {
    min-width: $ws-form-width-mobile;
    max-width: $ws-form-width-max-mobile;
  }
}