@import 'variables'; 

@import '../../node_modules/bootstrap/scss/bootstrap';
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

div, ul {
  -webkit-overflow-scrolling: touch;
}

body {
  display: flex;
  flex-direction: column;
  .ws-main {
    flex-grow: 1;
  }
}

.auth-link {
  display: none;
}

.show {
  display: initial!important;
}

.hide {
  display: none!important;
}

.app-container {
  padding-top: 25px;
}

.auth-container {
  .ws-form {
    margin: auto;
    margin-bottom: $ws-default-padding * 2;
  }
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 40px;
}

.moment-drop {
  border-radius: 0.75em;
  border: 2px dotted white;
  &.over {
    background-color: white!important;
  }
  .content {
    color: white!important;
  }
}

.ws-form {
  min-width: $ws-form-width;
  max-width: $ws-form-width-max;
  border-radius: $ws-default-radius;
  border: none;
  border-bottom: 2px solid lighten($ws-base-color, 15%);
  margin-bottom: $ws-default-padding * 2;
  .ws-header {
    border: none;
    border-top-left-radius: $ws-default-radius;
    border-top-right-radius: $ws-default-radius;
  }
}

.ws-panel {
  border-radius: $ws-default-radius;
  border-bottom: 2px solid $ws-base-color;
  padding: 24px;
  margin-bottom: $ws-default-padding * 2;
  &.ws-dashboard-tab-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.btn-wordshop {
  color: #fff;
  background-color: $ws-highlight-color;
  border-color: $ws-highlight-color;
  border-radius: $ws-default-radius-btn;
  border-bottom: 2px solid darken($ws-highlight-color, 10%);
  cursor: pointer;
  &:hover {
    background-color: lighten($ws-highlight-color, 5%);
    border-color: lighten($ws-highlight-color, 5%);
    border-bottom: 2px solid darken($ws-highlight-color, 10%);
  }
  &.active {
    border-color: darken($ws-highlight-color, 10%);
    background-color: darken($ws-highlight-color, 10%);
  }
}

.clickable {
  cursor: pointer;
}

$logo-size: 40px;
.ws-logo {
  opacity: 0.6;
  &:hover { 
    opacity: 1.0
  }
  display: none;
  width: $logo-size;
  height: $logo-size;
  svg {
    width: $logo-size;
    height: $logo-size;
  }
}

.nav-container {
  .nav-spacer {
    flex-grow: 1;
  }
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.welcome-container {
  max-width: 650px;
  margin: auto;
}

.ws-welcome-title {
  width: 600px;
  margin-top: 50px;
}

.ws-welcome-title-container {
  min-width: 650px;
  width: 650px;
  min-height: 332px;
  height: 332px;
  margin: auto;
}

.ws-welcome-icon {
  width: 175px;
}

.ws-message {
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 650px;
}

@media (max-width: $ws-tablet-breakpoint) {
  .ws-form {
    min-width: $ws-form-width-mobile;
    max-width: $ws-form-width-max-mobile;
  }
  .ws-welcome-title {
    width: 500px;
    margin-top: 35px;
  }
  .ws-welcome-title-container {
    min-width: 510px;
    width: 510px;
    min-height: 275px;
    height: 275px;
  }
  .ws-welcome-icon {
    width: 150px;
  }
}

@media (max-width: $ws-phone-breakpoint) {
  .ws-welcome-title {
    width: 345px;
    margin-top: 20px;
  }
  .ws-welcome-title-container {
    min-width: 345px;
    width: 345px;
    min-height: 182px;
    height: 182px;
  }
  .ws-welcome-icon {
    width: 100px;
  }
}

.darkmode-switch {
  margin-left: 24px;
}

//
// Switches for Bootstrap 4.
//
// - Fully customizable with Sass variables
// - No JavaScript required
// - Fully accessible
//

//
// IMPORTANT: These Sass variables are defined in Bootstrap's variables.scss. You should import that file first, then remove these.
//
$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$input-height: 2.375rem;
$input-height-sm: 1.9375rem;
$input-height-lg: 3rem;
$input-btn-focus-width: .2rem;
$custom-control-indicator-bg: #dee2e6;
$custom-control-indicator-disabled-bg: #e9ecef;
$custom-control-description-disabled-color: #868e96;
$white: white;
$theme-colors: (
  'primary': #08d
);

//
// These variables can be used to customize the switch component.
//
$switch-height: calc(#{$input-height} * .8) !default;
$switch-height-sm: calc(#{$input-height-sm} * .8) !default;
$switch-height-lg: calc(#{$input-height-lg} * .8) !default;
$switch-border-radius: $switch-height !default;
$switch-bg: $custom-control-indicator-bg !default;
$switch-checked-bg: map-get($theme-colors, 'primary') !default;
$switch-disabled-bg: $custom-control-indicator-disabled-bg !default;
$switch-disabled-color: $custom-control-description-disabled-color !default;
$switch-thumb-bg: $white !default;
$switch-thumb-border-radius: 50% !default;
$switch-thumb-padding: 2px !default;
$switch-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba(map-get($theme-colors, 'primary'), .25);
$switch-transition: .2s all !default;

.switch {
  font-size: $font-size-base;
  position: relative;
  display: flex;
  align-items: center;

  input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;

    + label {
      color: lighten($ws-text-color, 50%);
      position: relative;
      min-width: calc(#{$switch-height} * 2);
      border-radius: $switch-border-radius;
      height: $switch-height;
      line-height: $switch-height;
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(#{$switch-height} * 2) + .5rem);
      margin-bottom: 0;
    }

    + label::before,
    + label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(#{$switch-height} * 2);
      bottom: 0;
      display: block;
    }

    + label::before {
      right: 0;
      background-color: $switch-bg;
      border-radius: $switch-border-radius;
      transition: $switch-transition;
    }

    + label::after {
      top: $switch-thumb-padding;
      left: $switch-thumb-padding;
      width: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      height: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      border-radius: $switch-thumb-border-radius;
      background-color: $switch-thumb-bg;
      transition: $switch-transition;
    }

    &:checked + label::before {
      background-color: $switch-checked-bg;
    }

    &:checked + label::after {
      margin-left: $switch-height;
    }

    &:focus + label::before {
      outline: none;
      box-shadow: $switch-focus-box-shadow;
    }

    &:disabled + label {
      color: $switch-disabled-color;
      cursor: not-allowed;
    }

    &:disabled + label::before {
      background-color: $switch-disabled-bg;
    }
  }

  // Small variation
  &.switch-sm {
    font-size: $font-size-sm;

    input {
      + label {
        min-width: calc(#{$switch-height-sm} * 2);
        height: $switch-height-sm;
        line-height: $switch-height-sm;
        text-indent: calc(calc(#{$switch-height-sm} * 2) + .5rem);
      }

      + label::before {
        width: calc(#{$switch-height-sm} * 2);
      }

      + label::after {
        width: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
        height: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
      }

      &:checked + label::after {
        margin-left: $switch-height-sm;
      }
    }
  }

  // Large variation
  &.switch-lg {
    font-size: $font-size-lg;

    input {
      + label {
        min-width: calc(#{$switch-height-lg} * 2);
        height: $switch-height-lg;
        line-height: $switch-height-lg;
        text-indent: calc(calc(#{$switch-height-lg} * 2) + .5rem);
      }

      + label::before {
        width: calc(#{$switch-height-lg} * 2);
      }

      + label::after {
        width: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
        height: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
      }

      &:checked + label::after {
        margin-left: $switch-height-lg;
      }
    }
  }

  + .switch {
    margin-left: 1rem;
  }
}

.ws-icon-tester-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  svg {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
  }
}


.ws-alert-component {

  padding: .75rem 1.25rem;
  margin-bottom: $ws-default-padding * 2;
  margin-top: $ws-default-padding;
  border-radius: $ws-default-radius-btn;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;

  strong {
    font-weight: bolder;
  }

  &.ws-alert-info {
    background-color: #007bff;
    border-bottom: 2px solid darken(#007bff, 20%);
  }

  &.ws-alert-warning {
    background-color: #FCD40A;
    border-bottom: 2px solid darken(#FCD40A, 20%);
    color: #2D2D2B;
  }

  &.ws-alert-danger {
    background-color: #A22A23;
    border-bottom: 2px solid darken(#A22A23, 20%);
  }

  &.ws-alert-success {
    background-color: #23A24D;
    border-bottom: 2px solid darken(#23A24D, 20%);
  }

}

.ws-login-button {
  img {
    height: 20px;
    margin-left: 2px;
    display: none;
  }
  &.loading {
    img {
      display: initial;
    }
  }
}

.ws-dashboard-tabs {
  display: flex;
  .btn {
    flex: 1;
  }
}

.ws-username-validator {
  max-width: 350px;
}

.ws-profile-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  .edit-actions {
    text-align: center;
    margin-top: 12px;
  }
  .main-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    &.edit-mode {
      flex-direction: column;
      align-items: center;
      .ws-profile-banner-details {
        margin-top: 10px;
      }
    }
    .ws-profile-banner-avatar {
      margin-left: 5px;
      svg {
        width: 125px;
        height: 125px;
      }
    }
    .ws-profile-banner-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-left: 20px;
      flex-grow: 1;
      h4, .input-group {
        margin-bottom: 8px;
      }
    }
    .ws-profile-banner-edit {
      margin-top: -5px;
      margin-right: -5px;
      button {
        opacity: 0.5;
        &:hover {
          opacity: 1.0;
        }
      }
    }
  }
}

@media (max-width: $ws-tablet-breakpoint) {
  .ws-profile-banner {
    flex-direction: column;
    align-items: center;
    .main-area {
      .ws-profile-banner-avatar {
        margin-left: 0px;
        svg {
          width: 100px;
          height: 100px;;
        }
      }
      .ws-profile-banner-details {
        margin-top: 10px;
        font-size: 14px;
        text-align: left;
        h4 {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: $ws-phone-breakpoint) {
  .ws-profile-banner {
    .main-area {
      flex-direction: column;
      .ws-profile-banner-avatar {
        text-align: center;
      }
      .ws-profile-banner-details {
        margin-left: 0px;
        text-align: center;
        font-size: 12px;
      }
      .ws-profile-banner-edit {
        text-align: right;
      }
    }
  }
}




@import 'mode.light';
@import 'mode.dark';