@import 'variables'; 

@import '../../node_modules/bootstrap/scss/bootstrap';
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: lighten($ws-base-color, 35%);
}

body {
  display: flex;
  flex-direction: column;
  .ws-main {
    flex-grow: 1;
  }
}

div, ul {
  -webkit-overflow-scrolling: touch;
}

a {
  color: darken($ws-base-color, 35%);
  &:hover {
    color: darken($ws-base-color, 10%);
  }
}

svg {
  overflow: visible;
}

.auth-link {
  display: none;
}

.show {
  display: initial!important;
}

.app-container {
  padding: 25px;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 40px;
  a {
    color: lighten($ws-text-color, 50%);
    &:hover {
      color: lighten($ws-text-color, 60%);
    }
  }
  background-color: $ws-text-color;
}

.moment-drop {
  border-radius: 0.75em;
  border: 2px dotted white;
  &.over {
    background-color: white!important;
  }
  .content {
    color: white!important;
  }
}

.ws-form {
  min-width: $ws-form-width;
  max-width: $ws-form-width-max;
  border-radius: $ws-default-radius;
  border: none;
  border-bottom: 2px solid lighten($ws-base-color, 15%);;
  .ws-header {
    border: none;
    border-top-left-radius: $ws-default-radius;
    border-top-right-radius: $ws-default-radius;
  }
}

.ws-panel {
  background-color: white;
  border-radius: $ws-default-radius;
  border-bottom: 2px solid $ws-base-color;
  padding: 24px;
}

.btn-wordshop {
  color: #fff;
  background-color: $ws-highlight-color;
  border-color: $ws-highlight-color;
  border-radius: $ws-default-radius-btn;
  border-bottom: 2px solid darken($ws-highlight-color, 10%);
  cursor: pointer;
  &:hover {
    background-color: lighten($ws-highlight-color, 5%);
    border-color: lighten($ws-highlight-color, 5%);
    border-bottom: 2px solid darken($ws-highlight-color, 10%);
  }
}

.clickable {
  cursor: pointer;
}

$logo-size: 40px;
.ws-logo {
  display: none;
  width: $logo-size;
  height: $logo-size;
  img {
    width: $logo-size;
    height: $logo-size;
  }
}

.nav-container {
  .nav-spacer {
    flex-grow: 1;
  }
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.welcome-container {
  max-width: 700px;
}

.ws-welcome-title {
  width:600px;
  margin-top: 50px;
}

.ws-welcome-icon {
  width: 175px;
}

.ws-message {
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 650px;
}

@media (max-width: $ws-tablet-breakpoint) {
  .ws-form {
    min-width: $ws-form-width-mobile;
    max-width: $ws-form-width-max-mobile;
  }
  .ws-welcome-title {
    width: 500px;
    margin-top: 35px;
  }
  .ws-welcome-icon {
    width: 150px;
  }
}

@media (max-width: $ws-phone-breakpoint) {
  .ws-welcome-title {
    width: 350px;
    margin-top: 20px;
  }
  .ws-welcome-icon {
    width: 100px;
  }
}