<div [ngClass]="{ show: valid === false, hide: valid !== false }">
  <small class="ws-username-is-invalid">{{message}}</small>
</div>
<div class="form-group input-group ws-username-validator">
  <div class="input-group-prepend">
    <span class="input-group-text" [ngClass]="{ 'is-valid': (valid === true), 'is-invalid': (valid === false) }" id="at-mention">@</span>
  </div>
  <input type="text" (input)="validateUsername($event.target.value)" maxlength="15" [value]="profile.username" class="form-control" [ngClass]="{ 'is-valid': (valid === true), 'is-invalid': (valid === false) }" placeholder="Username" aria-label="Username" aria-describedby="at-mention">
  <div class="input-group-append">
    <span class="input-group-text" [ngClass]="{ 'is-valid': (valid === true), 'is-invalid': (valid === false) }">
      <i class="fa fa-check" [ngClass]="{ show: valid === true, hide: valid !== true }"></i>
      <i class="fa fa-close" [ngClass]="{ show: valid === false, hide: valid !== false }"></i>
      <i class="fa fa-minus" [ngClass]="{ show: valid === null, hide: valid !== null }"></i>
    </span>
  </div>
</div>
