<div class="card ws-form ws-wizard-form">
  <h5 class="card-header ws-header ws-wizard-header">
    <span>Project Wizard&nbsp;&nbsp;&nbsp;<small class="text-muted">Step {{step + 1}} of {{project.length}}</small></span>
    <span class="ws-wizard-icon"><app-word-icon [type]="'project'" [palette]="palette"></app-word-icon></span>
  </h5>
  <div class="card-body wizard-body">
    <h5>{{project[step].name}}</h5>

    <section *ngIf="step === 0">
      <p>
        The first thing we need is a title, what's yours?
      </p>
      <div class="form-group input-group">
        <input (input)="titleChanged($event.target.value)" type="text" class="form-control" placeholder="Title">
      </div>
    </section>

    <section *ngIf="step === 1">
      <div class="form-check">
          <input type="checkbox" class="form-check-input" id="mailingListCheckbox">
          <label class="form-check-label text-muted" for="mailingListCheckbox">Check here if this a multipart project. That's a project with more than one section, like a book with chapters, or if your project is over the 5000 word limit and you need to break it up.</label>
        </div>
        <br>
        <p>
          Great! What should we call the first part? (optional)
        </p>
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Part One">
        </div>
    </section>

    <hr>
    <div class="wizard-nav-buttons">
      <button *ngIf="step > 0" (click)="setCurrStep(step - 1)" class="btn btn-wordshop-gray">Back</button>
      <button *ngIf="step !== (project.length - 1)" (click)="setCurrStep(step + 1)" class="btn btn-wordshop">Next</button>
      <button *ngIf="step === (project.length - 1)" (click)="createProject()" class="btn btn-wordshop">Finish</button>
    </div>
  </div>
</div>