<div class="card ws-form ws-wizard-form">
  <h5 class="card-header ws-header ws-wizard-header">
    <span>Project Wizard&nbsp;&nbsp;&nbsp;<small class="text-muted">Step {{step + 1}} of {{project.length}}</small></span>
    <span class="ws-wizard-icon"><app-word-icon [type]="'project'" [palette]="palette"></app-word-icon></span>
  </h5>
  <div class="card-body wizard-body">
    <h5>{{project[step].name}}</h5>

    <section *ngIf="step === 0">
      <p>
        Welcome to the Project Wizard!
      </p>
      <p>
        We'll walk you through the steps to create your project. Information you enter will be saved after each step, so don't worry about losing your progress.
      </p>
      <p>
        The first thing we need is a title. What's yours?
      </p>
      <div class="form-group input-group">
        <input (input)="stepOne_titleChanged($event.target.value)" [value]="project[step].title" type="text" maxlength="50" class="form-control" placeholder="Title">
      </div>
    </section>

    <section *ngIf="step === 1">
      <p>
        Next we need to know if this is a multipart project. That's a project with more than one section, like a book with chapters, or if your project is over the 5000 word limit and you need to break it up.
      </p>
      <div class="form-check form-check-inline">
        <input (change)="stepTwo_multipartChanged($event.target.value)" class="form-check-input" type="radio" name="multipartRadioOptions" id="multipartRadio" [checked]="project[step].multipart === true" value="true">
        <label class="form-check-label" for="multipartRadio">Multipart</label>
      </div>
      <div class="form-check form-check-inline">
        <input (change)="stepTwo_multipartChanged($event.target.value)" class="form-check-input" type="radio" name="multipartRadioOptions" id="notmultipartRadio" [checked]="project[step].multipart === false" value="false">
        <label class="form-check-label" for="notmultipartRadio">Not Multipart</label>
      </div>
      <div *ngIf="project[step].multipart === true">
        <br>
        <p>
          What should we call the first part? <small>(Optional)</small>
        </p>
        <div class="form-group input-group">
          <input (input)="stepTwo_partNameChanged($event.target.value)" [value]="project[step].part_name" type="text" class="form-control" maxlength="50" placeholder="Part One">
        </div>
      </div>
    </section>

    <section *ngIf="step === 2">
        <p *ngIf="project[step - 1].multipart === false">
          Now enter the text for your project. Keep in mind there's a 5000 word limit. Anything over that you'll need to break into a multipart (previous page).
        </p>
        <p *ngIf="project[step - 1].multipart === true">
          Now enter the text for the first part of your project. You'll be able to add the other parts later. Keep in mind there's a 5000 word limit per part.
        </p>
        <div class="wizard-text-input">
          <app-editor [showWordCount]="true" [maxWordCount]="5000" [text]="project[step].text" (textChanged)="stepThree_textChanged($event)"></app-editor>
        </div>
    </section>

    <section *ngIf="step === 3">
        <p *ngIf="project[step - 2].multipart === false">
          If readers need some context to understand your project, enter that here. Please be brief.
        </p>
        <p *ngIf="project[step - 2].multipart === true">
          If readers need some context to understand the first part of your project, enter that here. Please be brief.
        </p>
        <div class="wizard-text-input">
           <app-editor [showWordCount]="true" [maxWordCount]="300" [text]="project[step].context" (textChanged)="stepFour_contextChanged($event)"></app-editor>
        </div>
    </section>

    <section *ngIf="step === 4">
        <p>
          Halfway there, keep it up!
        </p>
        <p>
          In this step, tell us how to categorize your project. We'll start with a couple of questions.
        </p>
    </section>

    <section *ngIf="step === 5">
        <p>
          When readers critique your project, it's good to provide them with questions to help focus their feedback. Pick at least one question from the list below, or you may also write your own. Up to five.
        </p>
    </section>

    <section *ngIf="step === 6">
        <p>
          By default, projects are open to every registered user. If you'd like to make your project accessible by invitation only, check the box to mark it private.
        </p>
    </section>

    <section *ngIf="step === 7">
        <p>
          Done at last! But wait, before clicking on the <em>Finish</em> button, please review the details of your project and click on any area that needs revision.
        </p>
        <p>
          Good luck!
        </p>
    </section>

    <hr>
    <div class="wizard-nav-buttons">
      <button *ngIf="step > 0" (click)="setCurrStep(step - 1)" class="btn btn-wordshop-gray">Back</button>
      <button *ngIf="step !== (project.length - 1)" (click)="setCurrStep(project[step].complete ? (step + 1) : null)" class="btn btn-wordshop" [ngClass]="{ disabled: !project[step].complete }">Next</button>
      <button *ngIf="step === (project.length - 1)" (click)="createProject()" class="btn btn-wordshop">Finish</button>
    </div>
  </div>
</div>