<app-project-banner [project]="project"></app-project-banner>
<div class="ws-panel ws-project-panel">
  <div class="header">
    <h4 *ngIf="project?.parts[0]?.part_name">{{project?.parts[0]?.part_name}}</h4>
    <div class="spacer"></div>
    <h6 class="text-muted"><span class="text-highlight">{{project?.parts[0]?.versions[0]?.word_count}}</span></h6>
  </div>
  <div class="content-tabs">
    <button class="btn btn-sm btn-wordshop-content-tab active">Text</button>
    <button class="btn btn-sm btn-wordshop-content-tab">Critiques</button>
  </div>
  <div class="content-container">
    <div class="content" [innerHTML]="format(project?.parts[0]?.versions[0]?.text)"></div>
  </div>
  <div class="footer">
    <button (click)="onCritiqueClicked()" class="btn btn-block btn-wordshop btn-word-icon" [ngClass]="{ hide: showCritiqueEditor }">
      Critique
    </button>
  </div>
</div>
<div id="js-critique-editor"></div>
<app-critique-editor *ngIf="showCritiqueEditor" (cancelled)="showCritiqueEditor = false" (submitted)="newCritiqueSubmitted($event)" [project]="project" [part]="project?.parts[0]" [version]="project?.parts[0]?.versions[0]"></app-critique-editor>