<app-project-banner [project]="project"></app-project-banner>
<div class="ws-panel ws-project-panel">
  <div class="header">
    <h4 *ngIf="project?.parts[0]?.part_name">{{project?.parts[0]?.part_name}}</h4>
    <div class="spacer"></div>
    <h6 class="text-muted"><span class="text-highlight">{{project?.parts[0]?.versions[0]?.word_count}}</span> words</h6>
  </div>
  <div class="content" [innerHTML]="format(project?.parts[0]?.versions[0]?.text)"></div>
  <div class="footer">
    <button class="btn btn-block btn-wordshop">Write a critique</button>
  </div>
</div>