<div class="container">
  <div class="ws-panel">
    <div class="ws-crop-tester-container">
        <div class="upload-demo-wrap">
          <div id="upload-demo"></div>
        </div>
        <br><br>
        <div class="actions">
          <a href="" class="btn btn-wordshop-subtle file-btn">
            <span>Upload Image</span>
            <input type="file" id="upload" value="Choose a file" accept="image/*" />
          </a>
          &nbsp;&nbsp;
          <button id="result" class="btn btn-wordshop-subtle upload-result">Result</button>
        </div>
    </div>
  </div>
</div>