<div class="ws-user-settings-container">

  <h4>Settings</h4>

  <div class="btn-group btn-group-toggle ws-dashboard-tabs" data-toggle="buttons">
    <label [routerLink]="['/settings/profile']" class="btn btn-wordshop-tab" [ngClass]="{ active: area === 'profile' }">
      <input type="radio" name="options" autocomplete="off" checked>Profile
    </label>
    <label [routerLink]="['/settings/account']" class="btn btn-wordshop-tab" [ngClass]="{ active: area === 'account' }">
      <input type="radio" name="options" autocomplete="off">Account
    </label>
  </div>
  
  <div *ngIf="area === 'profile'" class="ws-panel ws-dashboard-tab-panel">
    <table class="ws-table" cellspacing="0">
      <tr>
        <td scope="row" class="text-muted name">Avatar</td>
        <td>
          <app-word-icon class="ws-user-settings-avatar" [type]="'profile'" [palette]="avatarPalette"></app-word-icon>
        </td>
      </tr>
      <tr>
        <td scope="row" class="text-muted name">Username</td>
        <td>
          <app-username-selector [profile]="profile" (usernameChanged)="usernameChanged($event)" (validationResults)="validationResults($event)"></app-username-selector>
        </td>
      </tr>
      <tr>
        <td scope="row" class="text-muted name">Location</td>
        <td></td>
      </tr>
      <tr>
        <td scope="row" class="text-muted name">Bio</td>
        <td></td>
      </tr>
    </table>
    <br>
    <div class="action-buttons">
      <button (click)="home()" class="btn btn-wordshop"><i class="fa fa-home"></i></button>
      <button (click)="saveProfileChanges()" class="btn" [ngClass]="{ 'btn-wordshop': profileSaveEnabled, 'btn-wordshop-subtle': !profileSaveEnabled, 'disabled': !profileSaveEnabled }">Save Changes</button>
    </div>
  </div>
  <div *ngIf="area === 'account'" class="ws-panel ws-dashboard-tab-panel">
    <table class="ws-table" cellspacing="0">
      <tr>
        <td scope="row" class="text-muted name">Email</td>
        <td>
          <span>{{profile.email}}</span>
        </td>
      </tr>
      <tr>
        <td scope="row" class="text-muted name">Password</td>
        <td>
          <form class="form-inline">
            <div class="form-group full-width">
              <input type="password" class="form-control full-width" placeholder="Old Password">
            </div>
            <div class="form-group full-width">
              <input type="password" class="form-control full-width" placeholder="New Password">
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td scope="row" class="text-muted name">Subscription</td>
        <td>
            <span>--</span>
        </td>
      </tr>
    </table>
    <br>
    <div class="action-buttons">
      <button (click)="home()" class="btn btn-wordshop"><i class="fa fa-home"></i></button>
      <button (click)="saveProfileChanges()" class="btn" [ngClass]="{ 'btn-wordshop': accountSaveEnabled, 'btn-wordshop-subtle': !accountSaveEnabled, disabled: !accountSaveEnabled }">Save Changes</button>
    </div>
    <br>
    <hr>
    <div class="delete-area">
      <p class="text-muted">
        If you want to delete your account and all associated data, enter your email address and then click the <em>Delete Account</em> button. Be careful, this is <strong>permanent</strong>.
      </p>
      <form class="form-inline">
        <input type="email" (input)="validateDeleteAccount($event.target.value)" class="form-control full-width" aria-describedby="deleteHelp" placeholder="Email">
        <button type="submit" (click)="deleteAccount($event)" class="btn btn-wordshop-subtle" [ngClass]="{ 'btn-wordshop-subtle': !enableAccountDelete, 'btn-wordshop-red': enableAccountDelete, 'disabled': !enableAccountDelete }">Delete Account</button>
      </form>
    </div>
  </div>

</div>