<div class="card ws-form ws-critique-editor">
  <h5 class="card-header ws-header">Critique Editor</h5>
  <div class="critique-content">
    <div *ngFor="let c of critique; let idx = index" class="critique">
      <h6>{{c.question}}</h6>
      <app-editor [maxWordCount]="500" [text]="c.answer" (textChanged)="textChanged(idx, $event)"></app-editor>
    </div>
  </div>
  <div class="action-area">
    <hr>
    <div class="buttons">
      <button (click)="deleteCritique()" class="btn btn-wordshop-subtle-red trash-button mobile-hide">
        <i class="fa fa-trash"></i>
      </button>
      <button (click)="cancelCritique()" class="btn btn-wordshop-gray">Close</button>
      <button (click)="submitCritique()" class="btn btn-wordshop btn-critique-editor-save" [ngClass]="{ 'disabled': !ableToSubmit, 'loading': submitInProgress }">
        {{critiqueSubmitText}}
        <img src="/assets/images/ws-loading.svg">
      </button>
    </div>
  </div>
</div>