<div class="card ws-form ws-critique-editor">
  <h5 class="card-header ws-header ws-editor-header">
    <span>
      Critique Editor
    </span>
    <span class="ws-editor-icon"><app-word-icon [type]="'critique'" [palette]="palette"></app-word-icon></span>
  </h5>
  <p class="text-muted critique-intro">
    Please answer the following questions and then click on the <em>Submit Critique</em> button. All questions are required except for <em>General Feedback</em>. Remember to be respectful, thoughtful, and above all <strong>encouraging</strong> in your response. Critique does not automatically mean to criticize, in the fault-finding sense of the word. Defined by Merriam-Webster, a critique is 'a careful judgment in which you give your opinion about the good and bad parts of something'. <small>(<a href="https://www.merriam-webster.com/dictionary/critique" target="_blank">source</a>)</small>
  </p>
  <div class="critique-content">
    <div *ngFor="let c of critique; let idx = index" class="critique">
      <h6>{{c.question}}</h6>
      <app-editor [maxWordCount]="500" [text]="c.answer" (textChanged)="textChanged(idx, $event)"></app-editor>
    </div>
  </div>
  <div class="action-area">
    <hr>
    <div class="buttons">
      <button (click)="deleteCritique()" class="btn btn-wordshop-subtle-red trash-button mobile-hide">
        <i class="fa fa-trash"></i>
      </button>
      <button (click)="cancelCritique()" class="btn btn-wordshop-gray">Close</button>
      <button (click)="submitCritique()" class="btn btn-wordshop btn-critique-editor-save" [ngClass]="{ 'disabled': !ableToSubmit, 'loading': submitInProgress }">
        {{critiqueSubmitText}}
        <img src="/assets/images/ws-loading.svg">
      </button>
    </div>
  </div>
</div>