<div class="welcome-container text-center">
  <img class="ws-welcome-icon" src="/assets/images/ws-icon-project.svg">
  <br>
  <img class="ws-welcome-title" src="/assets/images/ws-title.svg">
  <br>
  <div class="ws-message text-left">
    <p>WordShop is a free tool for workshopping your writing projects. With it you can exchange thoughtful critiques of works-in-progress with fellow authors and readers. Any kind of writing is welcome, whether fiction or non-fiction, poetry or blog post, novel or memoir.</p>
    <p>As long as it's made with words you can workshop it here!</p>
  </div>
  <div class="ws-action">
    <button [routerLink]="['/register']" class="btn btn-block btn-wordshop">Register</button>
  </div>
</div>
