<app-alert [show]="alertShow" [header]="alertHeader" [message]="alertMessage" [type]="alertType" [timeout]="10000"></app-alert>
<div class="card ws-form">
  <h5 class="card-header">Forgot Password</h5>
  <div class="card-body">
    <form *ngIf="!showResetForm">
      <div class="form-group">
        <input type="email" id="emailInput" class="form-control" #emailInput aria-describedby="emailHelp" placeholder="Email">
        <small id="haveCode" class="form-text text-muted"><a href="" (click)="showCodeForm($event, true)">Have code?</a></small>
      </div>
      <button (click)="sendVerificationCode($event)" type="submit" class="btn btn-wordshop btn-block">Send reset verification code</button>
    </form>
    <form *ngIf="showResetForm">
      <p>
      <small id="back" class="text-muted"><a href="" (click)="showCodeForm($event, false)">< Back</a></small>
      </p>
      <div *ngIf="!email" class="form-group">
        <input type="email" id="emailInput" class="form-control" #emailInput aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" id="passwordInput" class="form-control" #passwordInput aria-describedby="passwordHelp" placeholder="New Password">
      </div>
      <div class="form-group">
        <input type="text" id="codeInput" class="form-control" #codeInput aria-describedby="codeHelp" placeholder="Verification Code">
      </div>
      <button (click)="resetPassword($event)" type="submit" class="btn btn-wordshop btn-block">Reset password</button>
    </form>
  </div>
</div>
<small class="form-text text-muted text-center">(<a [routerLink]="['/login']" preserveFragment>Login</a>)</small>