<app-profile-banner [profile]="profile"></app-profile-banner>
<div class="btn-group btn-group-toggle ws-dashboard-tabs" data-toggle="buttons">
  <label (click)="setActiveTab('projects')" class="btn btn-wordshop-tab" [ngClass]="{ active: activeTab === 'projects' }">
    <input type="radio" name="options" autocomplete="off" checked>Projects
  </label>
  <label (click)="setActiveTab('critiques')" class="btn btn-wordshop-tab" [ngClass]="{ active: activeTab === 'critiques' }">
    <input type="radio" name="options" autocomplete="off">Critiques
  </label>
</div>
<div *ngIf="activeTab === 'projects'" class="ws-panel ws-dashboard-tab-panel">
  <a [routerLink]="['/projects/new']" class="btn btn-block btn-wordshop" preserveFragment>New project wizard</a>
</div>
<div *ngIf="activeTab === 'critiques'" class="ws-panel ws-dashboard-tab-panel">
  <a [routerLink]="['/projects']" class="btn btn-block btn-wordshop" preserveFragment>Write a critique</a>
</div>