<app-profile-banner [profile]="profile"></app-profile-banner>
<div class="btn-group btn-group-toggle ws-dashboard-tabs" data-toggle="buttons">
  <label (click)="setActiveTab('projects')" class="btn btn-wordshop-tab" [ngClass]="{ active: activeTab === 'projects' }">
    <input type="radio" name="options" autocomplete="off" checked>Projects
  </label>
  <label (click)="setActiveTab('critiques')" class="btn btn-wordshop-tab" [ngClass]="{ active: activeTab === 'critiques' }">
    <input type="radio" name="options" autocomplete="off">Critiques
  </label>
</div>
<div *ngIf="activeTab === 'projects'" class="ws-panel ws-dashboard-tab-panel">
  <a [routerLink]="['/projects/new']" class="btn btn-block btn-wordshop-subtle" preserveFragment>
    <i class="fa fa-plus"></i>
  </a>
  <div *ngIf="projects">
    <ul class="ws-project-list">
      <li *ngFor="let p of projects" [routerLink]="['/projects', p.project_id]">
        <app-project-item [project]="p"></app-project-item>
      </li>
    </ul>
  </div>
  <div *ngIf="!projects">
    <br>
    <app-loading></app-loading>
  </div>
  <div *ngIf="!projects || (projects && !projects.length)" class="zero-state text-muted">
    <p>You don't have any projects yet. Click on the button above to create one.</p>
  </div>
</div>
<div *ngIf="activeTab === 'critiques'" class="ws-panel ws-dashboard-tab-panel">
  <a [routerLink]="['/projects']" class="btn btn-block btn-wordshop-subtle" preserveFragment><i class="fa fa-plus"></i></a>
</div>