<div class="ws-panel ws-profile-banner">
  <div class="main-area">
    <app-word-image *ngIf="profile?.avatar" class="ws-profile-banner-avatar" [url]="assetUrl(profile?.avatar)" [size]="200"></app-word-image>
    <app-word-icon *ngIf="!profile?.avatar" class="ws-profile-banner-avatar" [type]="'profile'" [palette]="avatarPalette"></app-word-icon>
    <div class="ws-profile-banner-details">
      <h4>@{{profile?.username}}</h4>
    </div>
  </div>
  <div class="settings-icon">
    <a [routerLink]="['/settings/profile']" class="btn btn-link text-muted" preserveFragment><i class="fa fa-cog"></i></a>
  </div>
</div>
