<div class="container nav-container">
    <a class="ws-logo" [ngClass]="{ visible: showHomeIcon }" [routerLink]="['/']" preserveFragment>
      <img src="/assets/images/ws-icon-project.svg">
    </a>
    <nav class="nav justify-content-end">
      <a *ngIf="!profile" class="nav-link" [routerLink]="['/register']" preserveFragment>Register</a>
      <a *ngIf="!profile" class="nav-link" [routerLink]="['/login']" preserveFragment>Login</a>
      <a *ngIf="profile" class="nav-link" href="" (click)="logout($event)">Logout</a>
    </nav>
  </div>
<div class="container app-container">
  <app-alert [show]="alertShow" [type]="alertType" [header]="alertHeader" [message]="alertMessage" [timeout]="10000"></app-alert>
  <div class="row justify-content-center align-items-center">
    <router-outlet></router-outlet>
  </div>
</div>
