<div class="container nav-container">
  <a class="ws-logo" [ngClass]="{ show: showHomeIcon }" [routerLink]="['/']" preserveFragment>
    <img src="/assets/images/ws-icon-project-bw.svg">
  </a>
  <div class="nav-spacer"></div>
  <nav class="nav justify-content-end">
    <a class="nav-link auth-link" [ngClass]="{ show: !loggedIn }" [routerLink]="['/register']" preserveFragment>Register</a>
    <a class="nav-link auth-link" [ngClass]="{ show: !loggedIn }" [routerLink]="['/login']" preserveFragment>Login</a>
    <a class="nav-link auth-link" [ngClass]="{ show: loggedIn }" href="" (click)="logout($event)">Logout</a>
  </nav>
</div>
<div class="container app-container">
  <app-alert [show]="alertShow" [type]="alertType" [header]="alertHeader" [message]="alertMessage" [timeout]="10000"></app-alert>
  <router-outlet></router-outlet>
</div>