<div class="ws-project-config-container">

  <h4>Config</h4>

  <div class="btn-group btn-group-toggle ws-dashboard-tabs">
    <label class="btn btn-wordshop-tab" [ngClass]="{ active: area === 'prj' }">
      <input (change)="setActiveArea('prj')" type="radio" name="options" autocomplete="off">Project
    </label>
    <label class="btn btn-wordshop-tab" [ngClass]="{ active: area === 'prt' }">
      <input (change)="setActiveArea('prt')" type="radio" name="options" autocomplete="off">Parts
    </label>
    <label class="btn btn-wordshop-tab" [ngClass]="{ active: area === 'ver' }">
      <input (change)="setActiveArea('ver')" type="radio" name="options" autocomplete="off">Versions
    </label>
  </div>

  <div *ngIf="area === 'prj'" class="ws-panel ws-dashboard-tab-panel">
    <table class="ws-table" cellspacing="0">
      <tr>
        <td scope="row" class="text-muted name">Image</td>
        <td class="settings-avatar">
          <app-word-image *ngIf="project?.image && !imageData" class="ws-project-config-image" [url]="assetUrl(project?.image)" [size]="200"></app-word-image>
          <app-word-icon *ngIf="!project?.image && !imageData" class="ws-project-config-image" [type]="'project'" [palette]="imagePalette"></app-word-icon>
          <div *ngIf="imageData" class="pending-container ws-project-config-image">
            <i class="fa fa-ellipsis-h"></i>
            <img [src]="imageData">
          </div>
          <div>
            &nbsp;&nbsp;
            <button *ngIf="!project?.image" class="btn btn-wordshop-subtle btn-wordshop-file-btn">
              <i class="fa fa-upload"></i>
              <input type="file" (change)="projectImageChosen($event)" value="Choose a file" accept="image/*" />
            </button>
            <button *ngIf="project?.image" (click)="removeProjectImage()" class="btn btn-wordshop-subtle-red">
              <i class="fa fa-close"></i>
            </button>
          </div>        
        
        </td>
      </tr>
      <tr>
        <td scope="row" class="text-muted name">Title</td>
        <td>
          <form class="title-input">
              <div class="input-group">
                <input (input)="validateTitle($event.target.value)" type="text" class="form-control" placeholder="Title" [value]="project?.title">
              </div>
            </form>
        </td>
      </tr>
      <tr>
        <td scope="row" class="text-muted name">Text</td>
          <td>
            <div *ngIf="project?.parts[0]?.versions[0]?.text" class="project-config-text-input">
              <app-editor [showWordCount]="true" [maxWordCount]="5000" [text]="project?.parts[0]?.versions[0]?.text" (textChanged)="textChanged($event)"></app-editor>
            </div>
          </td>
        </tr>
    </table>
    <br>
    <div class="action-buttons">
      <button (click)="backToProject()" class="btn btn-wordshop-gray">Cancel</button>
      <button (click)="saveProject()" class="btn btn-wordshop btn-user-profile-save" [ngClass]="{ 'disabled': !projectSaveEnabled, loading: (imageSaveInProgress || titleSaveInProgress) }">
        {{projectSaveText}}
        <img src="/assets/images/ws-loading.svg">
      </button>
    </div>
    <br>
    <table class="ws-table">
      <tr>
        <td scope="row" class="text-muted right">
          <button (click)="deleteProject()" class="btn btn-wordshop-subtle-red">
            Delete Project
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="area === 'prt'" class="ws-panel ws-dashboard-tab-panel">
    <table class="ws-table" cellspacing="0">
      <tr></tr>
    </table>
  </div>

  <div *ngIf="area === 'ver'" class="ws-panel ws-dashboard-tab-panel">
    <table class="ws-table" cellspacing="0">
      <tr></tr>
    </table>
  </div>

<!-- image modal -->
<div class="modal ws-modal" id="ui-image-crop-modal" tabindex="-1" role="dialog" aria-labelledby="image-crop-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <div class="avatar-crop-container">
          <span>Loading...</span>
          <div id="ui-image-crop"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="doneCroppingImage()" class="btn btn-block btn-wordshop-subtle">Done</button>
      </div>
    </div>
  </div>
</div>
<!-- / image modal -->