<div class="container">
  <div class="ws-panel">
    <div class="ws-icon-tester-container">
      <app-word-icon [type]="'project'" [palette]="palette"></app-word-icon>
      <app-word-icon [type]="'critique'" [palette]="palette"></app-word-icon>
      <app-word-icon [type]="'profile'" [palette]="palette"></app-word-icon>
    </div>
    <br>
    <div class="form-group">
      <input #textInput type="text" class="form-control" (input)="onTextChanged($event.target.value)" placeholder="Enter text...">
    </div>
  </div>
</div>